.artwork-list-container {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  overflow-y: hidden; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80vw; 
  height: auto;
  background-color: #f0f0f0;
  padding: 10px;
  align-items: justify;
  transition: bottom 0.5s ease-in-out;
}

.artwork-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.artwork-image-container {
  position: relative;
  width: auto;
  height: 150px; /* Max height for the image */
  cursor: pointer;
}

.artwork-image {
  max-height: 100%; /* Make image fit its container */
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.artwork-image:hover {
  transform: scale(1.3); /* Magnify image on hover */
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

button {
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.artwork-details {
  text-align: center;
}
