.artwork-list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
  left: 10vw;
  width: 80vw;
  background-color: #f0f0f081;
  padding: 20px;
  align-items: center;
  transition: bottom 0.5s ease-in-out;
}

.artwork-item {
  position: relative;
  width: 350px; 
  height: 30vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background: #ffffff43; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.artwork-image-container {
  width: 100%;
  height: calc(100% - 60px);
  min-width: 200px; 
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.artwork-image {
  max-height: 100%; 
  max-width: 100%; 
  transition: transform 0.3s ease-in-out;
  object-fit: contain; 
}


/* 
.button-container {
  position: absolute;
  top: 10px; 
  right: 10px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button {
  background-size: cover;
  background-color: #f0f0f000;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.save-button {
  background-image: url('/src/buttons/pin.png');
}

.remove-button {
  background-image: url('/src/buttons/down.png');
}

.inspect-button {
  background-image: url('/src/buttons/search.png');
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url('/src/buttons/down.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  z-index: 100;
} */
