/* Container and Positioning */
.collections-container {
    position: relative;
    width: 300px;
    margin: 20px auto;
}

/* Header Styles */
.selected-header, .saved-header {
    color: #B10F2E;
    padding-left: 75px;
}
.selected-header {
    font-size: 24px;
    font-weight: bold;
}
.saved-header {
    font-size: 17px;
    font-weight: bold;
}

/* Separator Style */
.separator-history {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

/* Artwork List Layout */
.save-artwork-list, .saved-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow: visible;
}

/* Artwork Item Styles */
.save-artwork-item, .save-artwork-item-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.7s ease, box-shadow 0.7s ease; 
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer; 
}
.save-artwork-item {
    width: 22vw;
    height: 40vh;
}

/* .save-artwork-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
} */
.save-artwork-item-history {
    width: 10vw;
    height: 20vh;
}

/* Artwork Information Styles */
.save-artwork-info {
    font-size: 0.75rem;
    color: #666;
    width: 90%;
    /* padding-top: 4px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Artwork Image Styles */
.save-artwork-image {
    max-height: 25vh;
    width: auto;
    cursor: pointer;
}

/* Titles and Gallery Information */
.save-artwork-title, .save-artwork-gallery {
    font-size: 0.75rem;
    text-align: center;
    width: 100%;
}
.save-artwork-title {
    font-weight: bold;
}

/* Action Button Layout */
.artwork-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

/* .collection-selector {
    background-image: url('/src/buttons/add.png');
  } */

/* Collection Selector Styles */
.collection-selector {
    list-style-type: none;
    width: 20vw;
    position: absolute; 
    background-color: #b10f2dd0;
    transition: max-height 0.7s ease, opacity 1.7s ease; 
    visibility: hidden; 
    z-index: 100; 
}

.collection-selector.active {
    max-height: 500px; 
    font-size: 1.25rem;
    margin-left: 20px;
    margin-top: -10px;
    color: #F8F8F8;
    opacity: 1; 
    visibility: visible; 
    transition: max-height 1.7s ease, opacity 1.7s ease; 
}

.collection-selector li {
    padding: 10px;
    cursor: pointer;
    background-color: #b10f2d7a; 
    transition: background-color 0.7s ease; 
}

.collection-selector li:hover {
    background-color: #b10f2dd0; 
    color: #FFFFFF; 
}

.collection-selector li.active {
    background-color: #B10F2E; 
    color: #FFFFFF; 
}

/* Toggle Button Style */
.toggle-list-button {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 16px 16px;
    margin-left: 35px;
    width: 20vw;
    /* margin-top: 25px; */
    background-color: #B10F2E;
    color: white;
    border: none;
    cursor: pointer;
}
.toggle-list-button:hover {
    background-color: #570000;
}

/* History Artwork Styles */
.history-list-container {
    display: flex;
    
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    margin-top: 10px;
    background-color: #f0f0f0;
    align-items: center;
}
.history-artwork-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #bebebe92;
    max-height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    transition: border 0.3s ease, box-shadow 0.3s ease;  
    cursor: default;
}

.history-artwork-item:hover {
    cursor: pointer; 
    border: 2px solid #b10f2e; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.history-artwork-image-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.history-artwork-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.history-artwork-info {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.history-artwork-title, .history-artwork-gallery {
    font-size: 0.8rem;
    color: #494848;
}

.delete-collection-button {
    margin-left: 10px;
    background-color: #b10f2e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-collection-button:hover {
    background-color: #ff1e1e;
}
