.save-artwork-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.save-artwork-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 20vw;  
    height: 30vh;  /* Fixed height */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    overflow: hidden; 
    justify-content: space-between; 
}

.save-artwork-item:hover {
    transform: scale(1.05);
}

.save-artwork-info {
    font-size: 0.75rem; 
    width: 80%;  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.save-artwork-image {
    max-height: 18vh;  
    width: 100%;  
    object-fit: contain; 
    cursor: pointer;
}

.save-artwork-title {
    font-size: 0.55rem; 
    /* font-weight: bold;   */
    text-align: center;
    width: 100%;  
}

.save-artwork-gallery {
    font-size: 0.75rem;  
    color: #666;
    text-align: center;
}

.artwork-actions {
    width: 100%;  
    display: flex;
    justify-content: center;  
    padding: 5px 0;  
}

/* .collections-selector {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    list-style: none;
    width: 250px; 
    max-height: 200px; 
    overflow-y: auto; 
    position: relative; 
} */

.collections-selector {
    list-style-type: none;
    width: 250px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, visibility 0.3s ease-out;
    max-height: 0;  /* Start with max-height as 0 to hide content */
    visibility: hidden;
}

.collections-selector.active {
    max-height: 500px;  
    visibility: visible;
}

.collections-selector li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

.collections-selector li:hover {
    background-color: #e6e6e6;
}

.collections-selector li.active {
    font-weight: bold;
    background-color: #dedede;
}

.collections-selector button {
    border: none;
    background: none;
    cursor: pointer;
    color: red;
    font-size: 1rem;
}


.collections-selector button {
    line-height: 1;
    padding: 0 5px;
}
