/* Scavenger-specific artwork list layout */
.scavenger-artwork-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.scavenger-artwork-item:hover {
    transform: scale(1.05);
    border-color: #0056b3; /* Darker blue on hover */
}

.scavenger-artwork-info {
    font-size: 0.75rem;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.scavenger-artwork-image {
    max-height: 18vh;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.scavenger-artwork-title {
    font-size: 0.55rem;
    text-align: center;
    width: 100%;
}

.scavenger-artwork-gallery {
    font-size: 0.75rem;
    color: #666;
    text-align: center;
}

.scavenger-found {
    background-color: #B10F2E; /* Change the background when found */
    color: #f8f8f8;
}

.scavenger-found .scavenger-artwork-title {
    color: #f8f8f8;
}

.scavenger-generate-hunt-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #B10F2E;
    color: white;
    border: none;
    cursor: pointer;
}

.scavenger-generate-hunt-button:hover {
    background-color: #003d82;
}
