/* Discover-specific styles */
.discover-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 20px;
    background-color: #f8f8f8;
}

.header  {
    margin-top: 0;
    color: #B10F2E; /* Adds a theme color to the header */
}
.about {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 1.5em;
    text-align: center;
    color: rgb(93, 93, 93); /* Adds a theme color to the header */
}


.button-row {
    display: flex;
    width: 80%;
    max-width: 960px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-common {
    padding: 10px 20px;
    background-color: #B10F2E;
    color: white;
    border: none;
    cursor: pointer;
    width: 49%; /* Adjusted width to keep buttons side by side */
}

.button-common:hover {
    background-color: #85091f;
}

.discover-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    gap: 20px;
    width: 95vw;
    /* max-width: 960px; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.discover-artwork-item {
    position: relative;
    width: 25vw; /* Consistent with Search item width */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    overflow: hidden;
    height: auto; /* Adjust height as necessary */
    min-height: 300px; /* Minimum height to ensure design integrity */
}
.discover-artwork-image {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
}

.discover-artwork-info {
    width: 100%;
    text-align: center;
    /* max-height: 40px; */
}

.discover-artwork-title, .discover-artwork-gallery {
    font-size: 1em;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question {
    font-size: 1em;
    padding: 5px;
}

.question input[type="text"], .question button {
    width: auto; /* Ensure the input field and button take only the necessary width */ Comfortable padding around text inside input and button */
    margin-top: 5px; /* Space between label and input field */
}

.question button {
    position: bottom;
    background-color: #B10F2E;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.question button:hover {
    background-color: #85091f; /* Darker shade on hover for better interaction feedback */
}
