.main-container {
    position: relative; /* Needed to position children absolutely within this container */
    height: 100%; /* Ensures the container takes full height of its parent, adjust as needed */
    width: 100%; /* Ensures the container takes full width of its parent */
}

.floorplan-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px; /* Positions the container 200px from the top */
    left: 0;
    right: 0;
    margin: auto; /* Centers the container horizontally */
    width: 90%; /* Adjust the width as per your requirement */
    max-width: 1200px; /* Maximum width of the container */
    z-index: 10; /* Ensures the container stays on top */
    background: #fff; /* Background color, adjust as needed */
    border: 1px solid #ccc; /* Border properties, adjust as needed */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
}

.floorplan-svg-container {
    flex: 1; /* Takes up as much space as possible within the flex container */
    position: relative; /* Needed for absolute positioning of children if any */
}

.artwork-display-container {
    width: 100%; /* Full width of its parent */
    padding: 20px; /* Padding inside the container */
}
