.main-container {
    position: relative; 
    height: 100%; 
    width: 100%; 
}

.floorplan-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px; 
    left: 0;
    right: 0;
    margin: auto; 
    width: 80%; 
    max-width: 1000px; 
    z-index: 10; 
    background: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}

.floorplan-svg-container {
    flex: 1; 
    position: relative; 
}

.artwork-display-container {
    width: 100%; 
    padding: 20px; 
}

.saved-gallery {
    stroke: #280000;
    stroke-width: 4px;
}

.normal-gallery {
    stroke: none;
    stroke-width: 0;
}