/* src/Style/search.css */
body {
    margin: 0;

    background-color:#f8f8f8;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.search-form {
    display: flex;
    width: 80%;
    max-width: 960px;
    margin-bottom: 20px;
    border: 1px solid #ccc;

    overflow: hidden; 
    background-color: #fff;
}

.search-input, .search-type-select {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none; 
}

.search-button {
    padding: 10px 20px;
    background-color: #B10F2E;
    color: white;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ccc;
    color: #B10F2E;
}

.filter-row {
    display: flex;
    width: 80%;
    max-width: 960px;
    justify-content: space-between;
    padding: 10px 0;
}

.filter-department-select, .filter-highlight-checkbox, .filter-onview-checkbox {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    width: 80%;
    max-width: 960px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* .result-item {
    position: relative;
    width: 350px; 
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background: #ffffff43; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
} */

.result-item {
    position: relative;
    width: 220px; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px; 
    background: #ffffff43;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    overflow: hidden; 
}
.artwork-image {
    max-height: 30vh; 
    max-width: 100%; 
    transition: transform 0.3s ease-in-out;
    object-fit: contain; 
}

.result-item h3, .result-item p {
    font-size: 1em;
    padding: 5px;
    text-align: center;
    width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.see-more-button {
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    background-color: #333;
    color: white;

    cursor: pointer;
}

.see-more-button:hover {
    background-color: #555;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #626262; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}