



.selection-controls {
    position: absolute; 
    top: 17%; 
    margin-left: 20px;
    /* transform: translateX(-50%); Center align */
    width: 300px;
    z-index: 1000; 



}

.selection-controls button {
    display: block;
    margin: 10px auto; 
    padding: 16px;
    width: 90%; 
    background-color: #B10F2E;
    color: white;
    border: none;
    cursor: pointer;
}

.selection-controls button:hover {
    background-color: #b10f2d7d;
    
}

.selection-controls ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    font-size: 1rem; /* Adjust font size if needed */
}

.selection-controls li {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.selection-controls li:hover {
    background-color: #e0e0e0;
}

.selection-controls button.full-width {
    width: 100%;
    text-align: left;
    background: none;
    color: black;
}
