/* Reset some basic elements */
body, h1, h2, h3, p, form, button, input {
  
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

/* Apply a basic font and background to the whole page */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Style for the navigation bar */
.navbar {
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
  padding: 10px 20px;
  padding-left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Unified styling for links and buttons in the navbar */
.navbar a, .navbar button {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ensure consistent spacing */
}

/* Specific style for the logout button to differentiate visually */
.navbar button.logout-button {
  background-color: #d94f4f;
  color: white;
}

.navbar button.logout-button:hover {
  background-color: #c9302c;
}

/* Forms and buttons styling */
/* form {
  margin-top: 20px;
}

input[type="text"], input[type="password"], button {
  padding: 10px;
  margin-top: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #b800004c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #004594;
} */
